.secondary-nav {
  font-family: sans-serif;
  padding: 0;
}

.secondary-nav > ul,.secondary-nav > ul > li > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.secondary-nav > ul > li > a,.secondary-nav > ul > li > span {
  background: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.08)));

  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #e4e4e2;

  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #666666;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 5px;
  overflow: hidden;
  padding: 8px 6px 4px 12px;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.no-boxshadow .secondary-nav > ul > li > a,.no-boxshadow .secondary-nav > ul > li > span {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.no-cssgradients .secondary-nav > ul > li > a,.no-cssgradients .secondary-nav > ul > li > span {
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#10000000);
}

.secondary-nav > ul > li > a:hover,.secondary-nav > ul > li > span:hover {
  background-color: #f4f4f2;
  border-bottom-color: #dddddd;
  color: #555555;
}

.secondary-nav > ul > li > div {
  overflow: hidden;
  padding: 0 16px;
}

.secondary-nav > ul > li > div > p {
  margin: 1em 0px;
}

.secondary-nav > ul > li > ul {
  padding-bottom: 8px;
}

.secondary-nav > ul > li > ul > li {
  background: transparent url('./images/arrow.png') no-repeat 12px center;
  font-size: 12px;
  padding: 6px 8px 6px 30px;
}

.secondary-nav > ul > li > ul > li:first-child {
  background-position: 12px 14px;
  padding-top: 12px;
}

.secondary-nav > ul > li > ul > li > a {
  color: #01573c;
  text-decoration: none;
}

.secondary-nav > ul > li > ul > li > a:hover {
  color: #774433;
  text-decoration: underline;
}
