.secondary-nav {
    font-family: sans-serif;
    padding: 0;
}
.secondary-nav > ul, .secondary-nav > ul > li > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondary-nav > ul > li > a, .secondary-nav > ul > li > span {
    background: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.06)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.06));
    background-image:    -moz-linear-gradient(transparent, rgba(0,0,0,0.06));
    background-image:     -ms-linear-gradient(transparent, rgba(0,0,0,0.06));
    background-image:      -o-linear-gradient(transparent, rgba(0,0,0,0.06));
    background-image:         linear-gradient(transparent, rgba(0,0,0,0.06));
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e6e6e4;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 8px 6px 4px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#eaeaea);
    zoom: 1;
}
.ie7 .secondary-nav > ul > li > a, .ie7 .secondary-nav > ul > li > span,
.ie8 .secondary-nav > ul > li > a, .ie8 .secondary-nav > ul > li > span {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ie9 .secondary-nav > ul > li > a, .ie9 .secondary-nav > ul > li > span {
    border-radius: 0px;
}
.secondary-nav > ul > li > a:hover, .secondary-nav > ul > li > span:hover {
    background: #e6e6e4;
    color: #555;
    filter: none;
    zoom: 1;
}
.secondary-nav > ul > li > div {
    overflow: hidden; /* expand the div to wrap the margin/padding of the elements it contains */
    padding: 0 16px;
}
.secondary-nav > ul > li > div > p {
    margin: 1em 0px; /* prevent jQuery jumps in IE 7 */
}
.secondary-nav > ul > li > ul {
    padding-bottom: 8px;
}
.secondary-nav > ul > li > ul > li:first-child {
    background-position: 12px 14px;
    padding-top: 12px;
}
.secondary-nav > ul > li > ul > li {
    background: transparent url('./images/arrow.png') no-repeat 12px center;
    font-size: 12px;
    padding: 6px 8px 6px 30px;
}
.secondary-nav > ul > li > ul > li > a {
    color: #01573C;
    text-decoration: none;
}
.secondary-nav > ul > li > ul > li > a:hover {
    color: #743;
    text-decoration: underline;
}
