.secondary-nav.tan {
    border: 1px solid #ccc;
    font-family: Georgia, Times, serif;
}
.secondary-nav.tan > ul > li > a, .secondary-nav.tan > ul > li > span {
    background: #ecede2;
    border-top-color: #fafcf4;
    border-bottom-color: #e0e2dd;
    box-shadow: 0;
    border-radius: 0;
    color: #555;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 8px;
    text-shadow: 1px 1px 1px #ccc;
    filter: none;
}

.secondary-nav.tan > ul > li > a:hover, .secondary-nav.tan > ul > li > span:hover {
    background: #f5f5e9;
}
.secondary-nav.tan > ul > li > ul, .secondary-nav.tan > ul > li > div {
    background: #fafcf4;
    -mox-box-shadow: inset 0px 1px 3px #bbb;
    -webkit-box-shadow: inset 0px 1px 3px #bbb;
    box-shadow: inset 0px 1px 3px #bbb;
    color: #555;
}
